<body onload="pageLoaded()">

    <form action="/item/adminupload" method="post">
        <input type="file" accept="image/*" onchange="handleFile(this.files)" />
        <div id="preview"></div>
        <input type="submit" />
        </div>
    </form>

    <script>
        function handleFile(files) {

            const file = files[0];
            if (!file.type.startsWith('image/')) return;

            var preview = document.getElementById('preview');

            var reader = new FileReader();
            reader.onload = function(e) {
                preview.innerHTML = "";

                var img = document.createElement('img');
                img.src = e.target.result;
                img.style = "max-width:33vw";
                preview.appendChild(img);

                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'User[avatarpath]';
                input.value = e.target.result;
                preview.appendChild(input);
            }
            reader.readAsDataURL(file);

        }
    </script>


    <nav class="bottomnav fixed-bottom">
        <a href="/item/adminindex" class="nav__link">
            <i class="material-icons">
                home
            </i>
            <span class="nav__text">主頁</span>
        </a>
        <a href="/item/adminsearch" class="nav__link nav__link--active">
            <i class="material-icons">
                search
            </i>
            <span class="nav__text">搜尋</span>
        </a>
        <a href="/item/adminnoti" class="nav__link">
            <i class="material-icons">
                email
            </i>
            <span class="nav__text">通知</span>
        </a>
        <a href="/item/adminaccount" class="nav__link">
            <i class="material-icons">
                account_circle
            </i>
            <span class="nav__text">帳戶</span>
        </a>
    </nav>
</body>