<body onload="pageLoaded()">
    <div class="container">
        <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">主頁</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/item/itemsearch">搜尋 <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/apartment/create">通知</a>
                    <a class="nav-item nav-link active" href="/apartment/admin">帳戶</a>
                </div>
            </div>

            <!-- <div><%=req.session.username%></div> -->
            <div>登入者:
                <%=req.session.username%> <a href="/user/logout">登出</a></div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">基督教協基會社會服務部存貨系統</h1>
                <p class="lead">此存貨系統可用於借還書籍/桌遊/活動物資/禮物(不用歸還)</p>
            </div>
        </div>

        <h1>搜尋..</h1>
        <div class="container">
            <div class="row">
                <a href="/book/booksearch" style="color:black">
                    <div class="card" style="width: 17rem;">
                        <img src="https://image.flaticon.com/icons/svg/1675/1675178.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title"><strong>書本</strong></h3>
                            <p class="card-text">圖書,小說,散文..</p>
                        </div>
                    </div>
                </a>

                <a href="/material/materialsearch" style="color:black">
                    <div class="card" style="width: 17rem;">
                        <img src="https://image.flaticon.com/icons/svg/1815/1815759.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title"><strong>活動物資</strong></h3>
                            <p class="card-text">文具,繩,卡片..</p>
                        </div>
                    </div>
                </a>

                <a href="/game/gamesearch" style="color:black">
                    <div class="card" style="width: 17rem;">
                        <img src="https://image.flaticon.com/icons/svg/864/864633.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title"><strong>桌遊</strong></h3>
                            <p class="card-text">卡片遊戲,圖板遊戲,骰牌遊戲..</p>
                        </div>
                    </div>
                </a>

                <a href="/gift/giftsearch" style="color:black">
                    <div class="card" style="width: 17rem;">
                        <img src="https://image.flaticon.com/icons/svg/415/415536.svg" width="" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title"><strong>禮物</strong></h3>
                            <p class="card-text">..</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!-- <div>
            <a class="nav-item nav-link active" href="/book/booksearch">搜尋書本</a>
            <a class="nav-item nav-link active" href="/game/gamesearch">搜尋桌遊</a>
            <a class="nav-item nav-link active" href="/gift/giftsearch">搜尋禮物</a>
            <a class="nav-item nav-link active" href="/material/materialsearch">搜尋活動物資</a>


        </div> -->

    </div>

</body>